
#mensagens-erro{
	color: red;
}
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela{
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel{
	display:none;
}

.destaqueTexto{
	color:red;
	background-color:yellow;
}


  
.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	text-align: center;
	margin: 0 auto;
    
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }


  input::placeholder{
	color:blue;
	font-size:0.6em;
	font-style:normal;
  }

  input{
	caret-color: #ff0043;
  }

  table.highlight>tbody>tr:hover {
    background-color: rgba(194, 206, 23, 0.5) !important;
}
table.highlight>tbody>tr {
    color: black !important; 
}

.textoEditavel{
	font-weight: bold;
	
}

.textoNaoEditavel{
	font-weight: normal;
}

.textoFixo{
	font-weight: normal;
}

.textoFixoApos{
	font-weight: lighter;
	color: grey;
}